In [57]:
import pandas as pd

In [58]:
import numpy as np

In [59]:
df=pd.read_excel('Customer Purchase Behavior datasets.xlsx')

In [60]:
df

,Customer_ID,Age,Gender,Income,Location,Customer_Segment,Transaction_ID,Date,Product_Category,Product_ID,...,Total_Spent,Payment_Method,Discount_Applied,Loyalty_Points_Used,Previous_Purchases,Average_Spending,Last_Purchase_Days_Ago,Browsing_Time_Before_Purchase,Preferred_Shopping_Time,Customer_Satisfaction_Rating
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,114415.0,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,...,254.88,Cash,No,486,25,484.11,288,32,Afternoon,2
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,160508.0,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,...,106.17,Debit Card,No,424,33,271.49,231,30,Night,5
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,37669.0,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,...,409.48,Credit Card,No,29,49,892.61,324,6,Morning,5
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,147385.0,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,...,335.49,Cash,No,420,46,130.79,351,17,Night,5
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,92010.0,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,...,547.10,Credit Card,No,464,44,37.73,157,37,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,78465.0,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,...,455.66,Digital Wallet,Yes,159,7,844.55,110,50,Evening,3
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,167745.0,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,...,19.76,Debit Card,No,8,47,134.22,37,19,Afternoon,5
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,43395.0,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,...,768.16,Debit Card,Yes,178,3,616.61,211,34,Night,5
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,124162.0,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,...,907.36,Debit Card,No,82,27,604.55,136,10,Morning,4
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,150704.0,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,...,386.39,Digital Wallet,Yes,150,14,317.67,341,56,Morning,5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer_ID                    5000 non-null   object
 1   Age                            4997 non-null   float64
 2   Gender                         4995 non-null   object
 3   Income                         4996 non-null   float64
 4   Location                       4996 non-null   object
 5   Customer_Segment               4997 non-null   object
 6   Transaction_ID                 5000 non-null   object
 7   Date                           5000 non-null   datetime64[ns]
 8   Product_Category               5000 non-null   object
 9   Product_ID                     5000 non-null   object
 10  Quantity                       5000 non-null   int64
 11  Unit_Price                     5000 non-null   float64
 12  Total_Spent                    5000 non-null   float64
 13  Payment_Method                 5000 non-null   object
 14  Discount_Applied               5000 non-null   object
 15  Loyalty_Points_Used            5000 non-null   int64
 16  Previous_Purchases             5000 non-null   int64
 17  Average_Spending               5000 non-null   float64
 18  Last_Purchase_Days_Ago         5000 non-null   int64
 19  Browsing_Time_Before_Purchase  5000 non-null   int64
 20  Preferred_Shopping_Time        5000 non-null   object
 21  Customer_Satisfaction_Rating   5000 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(6), object(10)
memory usage: 859.5+ KB

In [7]:
df.describe()

,Age,Income,Date,Quantity,Unit_Price,Total_Spent,Loyalty_Points_Used,Previous_Purchases,Average_Spending,Last_Purchase_Days_Ago,Browsing_Time_Before_Purchase,Customer_Satisfaction_Rating
count,4997.000000,4996.000000,5000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,43.589954,108251.229384,2024-03-10 19:20:30.419999744,2.500600,253.622340,634.181692,246.914800,24.909200,505.429480,183.06940,30.036000,3.012800
min,18.000000,20005.000000,2023-03-13 03:00:00,1.000000,5.070000,5.240000,0.000000,1.000000,20.100000,0.00000,1.000000,1.000000
25%,31.000000,62912.000000,2023-09-06 18:50:45,1.000000,132.612500,256.012500,120.750000,12.000000,257.327500,92.00000,16.000000,2.000000
50%,43.000000,107605.000000,2024-03-13 01:00:30,3.000000,255.505000,485.170000,246.000000,25.000000,505.285000,185.00000,30.000000,3.000000
75%,56.000000,153708.750000,2024-09-08 22:39:15,3.000000,376.887500,934.490000,372.250000,37.000000,750.927500,274.00000,45.000000,4.000000
max,69.000000,199992.000000,2025-03-11 22:58:00,4.000000,499.990000,1999.680000,499.000000,49.000000,999.960000,364.00000,59.000000,5.000000
std,14.921685,52111.502273,NaN,1.115638,142.223488,480.979748,144.189258,14.218065,283.495945,105.15022,16.905037,1.412316

In [8]:
df.isnull()

,Customer_ID,Age,Gender,Income,Location,Customer_Segment,Transaction_ID,Date,Product_Category,Product_ID,...,Total_Spent,Payment_Method,Discount_Applied,Loyalty_Points_Used,Previous_Purchases,Average_Spending,Last_Purchase_Days_Ago,Browsing_Time_Before_Purchase,Preferred_Shopping_Time,Customer_Satisfaction_Rating
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

Customer_ID                      0
Age                              3
Gender                           5
Income                           4
Location                         4
Customer_Segment                 3
Transaction_ID                   0
Date                             0
Product_Category                 0
Product_ID                       0
Quantity                         0
Unit_Price                       0
Total_Spent                      0
Payment_Method                   0
Discount_Applied                 0
Loyalty_Points_Used              0
Previous_Purchases               0
Average_Spending                 0
Last_Purchase_Days_Ago           0
Browsing_Time_Before_Purchase    0
Preferred_Shopping_Time          0
Customer_Satisfaction_Rating     0
dtype: int64

In [10]:
df['Age'].unique()

array([56., 69., 46., nan, 60., 25., 38., 36., 40., 28., 41., 53., 57.,
       20., 39., 19., 61., 47., 55., 50., 29., 42., 66., 44., 59., 45.,
       33., 64., 68., 54., 24., 26., 35., 21., 31., 67., 43., 37., 52.,
       34., 23., 51., 27., 48., 65., 32., 62., 58., 18., 22., 30., 49.,
       63.])

In [11]:
df['Income'].unique()

array([114415., 160508.,  37669., ...,  43395., 124162., 150704.],
      shape=(4924,))

In [15]:
df['Customer_Segment'].unique()

array(['High', 'Medium', 'Low', nan], dtype=object)

In [17]:
df.drop_duplicates(inplace=True)

In [18]:
df

,Customer_ID,Age,Gender,Income,Location,Customer_Segment,Transaction_ID,Date,Product_Category,Product_ID,...,Total_Spent,Payment_Method,Discount_Applied,Loyalty_Points_Used,Previous_Purchases,Average_Spending,Last_Purchase_Days_Ago,Browsing_Time_Before_Purchase,Preferred_Shopping_Time,Customer_Satisfaction_Rating
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,114415.0,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,...,254.88,Cash,No,486,25,484.11,288,32,Afternoon,2
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,160508.0,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,...,106.17,Debit Card,No,424,33,271.49,231,30,Night,5
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,37669.0,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,...,409.48,Credit Card,No,29,49,892.61,324,6,Morning,5
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,147385.0,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,...,335.49,Cash,No,420,46,130.79,351,17,Night,5
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,92010.0,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,...,547.10,Credit Card,No,464,44,37.73,157,37,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,78465.0,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,...,455.66,Digital Wallet,Yes,159,7,844.55,110,50,Evening,3
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,167745.0,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,...,19.76,Debit Card,No,8,47,134.22,37,19,Afternoon,5
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,43395.0,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,...,768.16,Debit Card,Yes,178,3,616.61,211,34,Night,5
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,124162.0,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,...,907.36,Debit Card,No,82,27,604.55,136,10,Morning,4
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,150704.0,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,...,386.39,Digital Wallet,Yes,150,14,317.67,341,56,Morning,5

In [23]:
df.columns=df.columns.str.lower()

In [24]:
df

,customer_id,age,gender,income,location,customer_segment,transaction_id,date,product_category,product_id,...,total_spent,payment_method,discount_applied,loyalty_points_used,previous_purchases,average_spending,last_purchase_days_ago,browsing_time_before_purchase,preferred_shopping_time,customer_satisfaction_rating
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,114415.0,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,...,254.88,Cash,No,486,25,484.11,288,32,Afternoon,2
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,160508.0,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,...,106.17,Debit Card,No,424,33,271.49,231,30,Night,5
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,37669.0,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,...,409.48,Credit Card,No,29,49,892.61,324,6,Morning,5
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,147385.0,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,...,335.49,Cash,No,420,46,130.79,351,17,Night,5
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,92010.0,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,...,547.10,Credit Card,No,464,44,37.73,157,37,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,78465.0,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,...,455.66,Digital Wallet,Yes,159,7,844.55,110,50,Evening,3
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,167745.0,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,...,19.76,Debit Card,No,8,47,134.22,37,19,Afternoon,5
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,43395.0,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,...,768.16,Debit Card,Yes,178,3,616.61,211,34,Night,5
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,124162.0,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,...,907.36,Debit Card,No,82,27,604.55,136,10,Morning,4
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,150704.0,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,...,386.39,Digital Wallet,Yes,150,14,317.67,341,56,Morning,5

In [42]:
df=df.drop(columns=['income'],inplace=True)

In [55]:
df

In [45]:
df

In [31]:
df['total_spent']=pd.to_numeric(df['total_spent'])

In [32]:
df

,customer_id,age,gender,location,customer_segment,transaction_id,date,product_category,product_id,quantity,...,discount_applied,loyalty_points_used,previous_purchases,average_spending,last_purchase_days_ago,browsing_time_before_purchase,preferred_shopping_time,customer_satisfaction_rating,income,Date
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,3,...,No,486,25,484.11,288,32,Afternoon,2,None,2023-11-29 10:04:00
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,3,...,No,424,33,271.49,231,30,Night,5,None,2023-10-10 22:46:00
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,1,...,No,29,49,892.61,324,6,Morning,5,None,2024-06-04 11:21:00
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,3,...,No,420,46,130.79,351,17,Night,5,None,2024-08-16 06:17:00
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,2,...,No,464,44,37.73,157,37,Morning,5,None,2024-01-03 18:36:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,1,...,Yes,159,7,844.55,110,50,Evening,3,None,2023-11-01 23:07:00
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,1,...,No,8,47,134.22,37,19,Afternoon,5,None,2023-06-15 17:07:00
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,2,...,Yes,178,3,616.61,211,34,Night,5,None,2024-03-25 19:40:00
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,2,...,No,82,27,604.55,136,10,Morning,4,None,2024-10-09 08:22:00
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,1,...,Yes,150,14,317.67,341,56,Morning,5,None,2023-03-30 21:47:00

In [33]:
df['purchase_month']=df['date'].dt.month

In [34]:
df

,customer_id,age,gender,location,customer_segment,transaction_id,date,product_category,product_id,quantity,...,loyalty_points_used,previous_purchases,average_spending,last_purchase_days_ago,browsing_time_before_purchase,preferred_shopping_time,customer_satisfaction_rating,income,Date,purchase_month
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,3,...,486,25,484.11,288,32,Afternoon,2,None,2023-11-29 10:04:00,11
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,3,...,424,33,271.49,231,30,Night,5,None,2023-10-10 22:46:00,10
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,1,...,29,49,892.61,324,6,Morning,5,None,2024-06-04 11:21:00,6
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,3,...,420,46,130.79,351,17,Night,5,None,2024-08-16 06:17:00,8
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,2,...,464,44,37.73,157,37,Morning,5,None,2024-01-03 18:36:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,1,...,159,7,844.55,110,50,Evening,3,None,2023-11-01 23:07:00,11
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,1,...,8,47,134.22,37,19,Afternoon,5,None,2023-06-15 17:07:00,6
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,2,...,178,3,616.61,211,34,Night,5,None,2024-03-25 19:40:00,3
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,2,...,82,27,604.55,136,10,Morning,4,None,2024-10-09 08:22:00,10
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,1,...,150,14,317.67,341,56,Morning,5,None,2023-03-30 21:47:00,3

In [35]:
df['Purchase_year']=df['date'].dt.year

In [36]:
df

,customer_id,age,gender,location,customer_segment,transaction_id,date,product_category,product_id,quantity,...,previous_purchases,average_spending,last_purchase_days_ago,browsing_time_before_purchase,preferred_shopping_time,customer_satisfaction_rating,income,Date,purchase_month,Purchase_year
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,3,...,25,484.11,288,32,Afternoon,2,None,2023-11-29 10:04:00,11,2023
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,3,...,33,271.49,231,30,Night,5,None,2023-10-10 22:46:00,10,2023
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,1,...,49,892.61,324,6,Morning,5,None,2024-06-04 11:21:00,6,2024
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,3,...,46,130.79,351,17,Night,5,None,2024-08-16 06:17:00,8,2024
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,2,...,44,37.73,157,37,Morning,5,None,2024-01-03 18:36:00,1,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,1,...,7,844.55,110,50,Evening,3,None,2023-11-01 23:07:00,11,2023
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,1,...,47,134.22,37,19,Afternoon,5,None,2023-06-15 17:07:00,6,2023
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,2,...,3,616.61,211,34,Night,5,None,2024-03-25 19:40:00,3,2024
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,2,...,27,604.55,136,10,Morning,4,None,2024-10-09 08:22:00,10,2024
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,1,...,14,317.67,341,56,Morning,5,None,2023-03-30 21:47:00,3,2023

In [40]:
df=df.rename(columns={'Purchase_year':'purchase_year'})

In [41]:
df

,customer_id,age,gender,location,customer_segment,transaction_id,date,product_category,product_id,quantity,...,previous_purchases,average_spending,last_purchase_days_ago,browsing_time_before_purchase,preferred_shopping_time,customer_satisfaction_rating,income,Date,purchase_month,purchase_year
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,3,...,25,484.11,288,32,Afternoon,2,None,2023-11-29 10:04:00,11,2023
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,3,...,33,271.49,231,30,Night,5,None,2023-10-10 22:46:00,10,2023
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,1,...,49,892.61,324,6,Morning,5,None,2024-06-04 11:21:00,6,2024
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,3,...,46,130.79,351,17,Night,5,None,2024-08-16 06:17:00,8,2024
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,2,...,44,37.73,157,37,Morning,5,None,2024-01-03 18:36:00,1,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,1,...,7,844.55,110,50,Evening,3,None,2023-11-01 23:07:00,11,2023
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,1,...,47,134.22,37,19,Afternoon,5,None,2023-06-15 17:07:00,6,2023
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,2,...,3,616.61,211,34,Night,5,None,2024-03-25 19:40:00,3,2024
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,2,...,27,604.55,136,10,Morning,4,None,2024-10-09 08:22:00,10,2024
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,1,...,14,317.67,341,56,Morning,5,None,2023-03-30 21:47:00,3,2023

In [62]:
import sqlalchemy as sal
engine=sal.create_engine('mssql+pyodbc://SANTHOSH\\SQLEXPRESS/StudentsDB?driver=ODBC+Driver+17+for+SQL+Server')
conn=engine.connect()

In [61]:
df

,Customer_ID,Age,Gender,Income,Location,Customer_Segment,Transaction_ID,Date,Product_Category,Product_ID,...,Total_Spent,Payment_Method,Discount_Applied,Loyalty_Points_Used,Previous_Purchases,Average_Spending,Last_Purchase_Days_Ago,Browsing_Time_Before_Purchase,Preferred_Shopping_Time,Customer_Satisfaction_Rating
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,114415.0,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,...,254.88,Cash,No,486,25,484.11,288,32,Afternoon,2
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,160508.0,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,...,106.17,Debit Card,No,424,33,271.49,231,30,Night,5
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,37669.0,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,...,409.48,Credit Card,No,29,49,892.61,324,6,Morning,5
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,147385.0,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,...,335.49,Cash,No,420,46,130.79,351,17,Night,5
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,92010.0,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,...,547.10,Credit Card,No,464,44,37.73,157,37,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,78465.0,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,...,455.66,Digital Wallet,Yes,159,7,844.55,110,50,Evening,3
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,167745.0,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,...,19.76,Debit Card,No,8,47,134.22,37,19,Afternoon,5
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,43395.0,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,...,768.16,Debit Card,Yes,178,3,616.61,211,34,Night,5
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,124162.0,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,...,907.36,Debit Card,No,82,27,604.55,136,10,Morning,4
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,150704.0,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,...,386.39,Digital Wallet,Yes,150,14,317.67,341,56,Morning,5

In [63]:
df.to_sql('df_customer_behavoir',con=conn,index=False,if_exists='replace')

60

In [65]:
conn.close()

In [66]:
df

,Customer_ID,Age,Gender,Income,Location,Customer_Segment,Transaction_ID,Date,Product_Category,Product_ID,...,Total_Spent,Payment_Method,Discount_Applied,Loyalty_Points_Used,Previous_Purchases,Average_Spending,Last_Purchase_Days_Ago,Browsing_Time_Before_Purchase,Preferred_Shopping_Time,Customer_Satisfaction_Rating
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,114415.0,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,...,254.88,Cash,No,486,25,484.11,288,32,Afternoon,2
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,160508.0,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,...,106.17,Debit Card,No,424,33,271.49,231,30,Night,5
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,37669.0,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,...,409.48,Credit Card,No,29,49,892.61,324,6,Morning,5
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,147385.0,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,...,335.49,Cash,No,420,46,130.79,351,17,Night,5
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,92010.0,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,...,547.10,Credit Card,No,464,44,37.73,157,37,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,78465.0,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,...,455.66,Digital Wallet,Yes,159,7,844.55,110,50,Evening,3
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,167745.0,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,...,19.76,Debit Card,No,8,47,134.22,37,19,Afternoon,5
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,43395.0,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,...,768.16,Debit Card,Yes,178,3,616.61,211,34,Night,5
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,124162.0,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,...,907.36,Debit Card,No,82,27,604.55,136,10,Morning,4
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,150704.0,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,...,386.39,Digital Wallet,Yes,150,14,317.67,341,56,Morning,5

In [70]:
df.columns=df.columns.str.lower()

In [71]:
df

,customer_id,age,gender,income,location,customer_segment,transaction_id,date,product_category,product_id,...,total_spent,payment_method,discount_applied,loyalty_points_used,previous_purchases,average_spending,last_purchase_days_ago,browsing_time_before_purchase,preferred_shopping_time,customer_satisfaction_rating
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,114415.0,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,...,254.88,Cash,No,486,25,484.11,288,32,Afternoon,2
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,160508.0,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,...,106.17,Debit Card,No,424,33,271.49,231,30,Night,5
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,37669.0,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,...,409.48,Credit Card,No,29,49,892.61,324,6,Morning,5
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,147385.0,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,...,335.49,Cash,No,420,46,130.79,351,17,Night,5
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,92010.0,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,...,547.10,Credit Card,No,464,44,37.73,157,37,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,78465.0,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,...,455.66,Digital Wallet,Yes,159,7,844.55,110,50,Evening,3
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,167745.0,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,...,19.76,Debit Card,No,8,47,134.22,37,19,Afternoon,5
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,43395.0,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,...,768.16,Debit Card,Yes,178,3,616.61,211,34,Night,5
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,124162.0,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,...,907.36,Debit Card,No,82,27,604.55,136,10,Morning,4
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,150704.0,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,...,386.39,Digital Wallet,Yes,150,14,317.67,341,56,Morning,5

In [72]:
import sqlalchemy as sal
engine=sal.create_engine('mssql+pyodbc://SANTHOSH\\SQLEXPRESS/StudentsDB?driver=ODBC+Driver+17+for+SQL+Server')
conn=engine.connect()

In [73]:
df.to_sql('df_customers_behavoir',con=conn,index=False,if_exists='append')

60

In [74]:
conn.close()

In [75]:
df

,customer_id,age,gender,income,location,customer_segment,transaction_id,date,product_category,product_id,...,total_spent,payment_method,discount_applied,loyalty_points_used,previous_purchases,average_spending,last_purchase_days_ago,browsing_time_before_purchase,preferred_shopping_time,customer_satisfaction_rating
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,114415.0,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,...,254.88,Cash,No,486,25,484.11,288,32,Afternoon,2
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,160508.0,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,...,106.17,Debit Card,No,424,33,271.49,231,30,Night,5
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,37669.0,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,...,409.48,Credit Card,No,29,49,892.61,324,6,Morning,5
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,147385.0,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,...,335.49,Cash,No,420,46,130.79,351,17,Night,5
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,92010.0,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,...,547.10,Credit Card,No,464,44,37.73,157,37,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,78465.0,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,...,455.66,Digital Wallet,Yes,159,7,844.55,110,50,Evening,3
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,167745.0,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,...,19.76,Debit Card,No,8,47,134.22,37,19,Afternoon,5
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,43395.0,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,...,768.16,Debit Card,Yes,178,3,616.61,211,34,Night,5
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,124162.0,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,...,907.36,Debit Card,No,82,27,604.55,136,10,Morning,4
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,150704.0,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,...,386.39,Digital Wallet,Yes,150,14,317.67,341,56,Morning,5

In [76]:
df

,customer_id,age,gender,income,location,customer_segment,transaction_id,date,product_category,product_id,...,total_spent,payment_method,discount_applied,loyalty_points_used,previous_purchases,average_spending,last_purchase_days_ago,browsing_time_before_purchase,preferred_shopping_time,customer_satisfaction_rating
0,9a66bec2-57cf-4fb1-9fe6-79bae4fb4612,56.0,Female,114415.0,City,High,d66461e5-ec3e-45c2-9975-2730e05b2613,2023-11-29 10:04:00,Electronics,b7518b38-599c-413a-9923-21885c4bc0e9,...,254.88,Cash,No,486,25,484.11,288,32,Afternoon,2
1,ef0d40d1-8e2d-4c64-b807-c982ce8865ac,69.0,Male,160508.0,City,Medium,c5c0316b-d2e3-432c-8b1c-52c87a1d2832,2023-10-10 22:46:00,Books,1844a7ef-2850-452a-9ed2-306da39d21aa,...,106.17,Debit Card,No,424,33,271.49,231,30,Night,5
2,9de2b87c-6554-4050-9456-9f56a923149d,46.0,Female,37669.0,City,Low,38c8ca15-c1f3-44c1-9cd3-05a3982480fa,2024-06-04 11:21:00,Electronics,802c129e-e415-417c-8d8f-42b7bf886d64,...,409.48,Credit Card,No,29,49,892.61,324,6,Morning,5
3,4095a429-b32a-4eba-ba3d-3fa22591c0a0,NaN,Male,147385.0,City,High,38d1ff0c-1248-498b-bdf9-55fbbe999ed4,2024-08-16 06:17:00,Toys,a554bdff-2997-433c-950a-13e3724a41ad,...,335.49,Cash,No,420,46,130.79,351,17,Night,5
4,18a218aa-3d30-4cf1-bc4a-890dcbb446d9,60.0,Female,92010.0,Suburb,Low,7f83bfe5-27e0-4d30-b426-dbe642d5c7a1,2024-01-03 18:36:00,Books,3855d80e-848e-44c7-b7fe-a222752b5e7d,...,547.10,Credit Card,No,464,44,37.73,157,37,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,5a1938c8-6983-49cb-bc15-abb5139fc5ba,24.0,Female,78465.0,City,Low,1515936e-2c8d-466d-91b4-3e939d7504fb,2023-11-01 23:07:00,Clothing,a2d82551-e41f-4688-83a4-cea90cd6b964,...,455.66,Digital Wallet,Yes,159,7,844.55,110,50,Evening,3
4996,a1ebd1a8-0028-4e14-a11c-b72d57ec8485,66.0,Female,167745.0,City,Low,b491b105-0775-44c3-aab5-b5b7011f4164,2023-06-15 17:07:00,Toys,3e08f48a-eb3c-42aa-8447-7245a74d4a1c,...,19.76,Debit Card,No,8,47,134.22,37,19,Afternoon,5
4997,f4e8d429-f947-4340-9797-2199cb82e5ed,26.0,Male,43395.0,City,Low,7286efed-ae0e-41a4-99a0-d8f035a77dd0,2024-03-25 19:40:00,Books,61a96266-e8ed-46f0-aba8-513ca67ec64f,...,768.16,Debit Card,Yes,178,3,616.61,211,34,Night,5
4998,7e8e9dab-a7af-4e1a-9401-eef18b57772b,53.0,Female,124162.0,City,Medium,c350db45-cdfc-4f48-a9b4-591ea4b33e10,2024-10-09 08:22:00,Books,322dca17-ccbe-4c08-8239-e479b5b3db53,...,907.36,Debit Card,No,82,27,604.55,136,10,Morning,4
4999,12437469-887f-40d4-9bd0-d399bd8f77db,36.0,Female,150704.0,Suburb,Low,41b2b59a-782e-42aa-9554-3efd72e65cc5,2023-03-30 21:47:00,Books,dc33f730-4027-47f5-a231-557d5b3f93e7,...,386.39,Digital Wallet,Yes,150,14,317.67,341,56,Morning,5

In [77]:
import sqlalchemy as sal
engine=sal.create_engine('mssql+pyodbc://SANTHOSH\\SQLEXPRESS/StudentsDB?driver=ODBC+Driver+17+for+SQL+Server')
conn=engine.connect()

In [78]:
df.to_sql('df_customers_behavior',con=conn,index=False,if_exists='append')

60